<p>home-page works!</p>

<button mat-button (click)="Registration()">צרו ארוע </button> <br>
<button mat-button (click)="Login()">התחברות לחשבון</button> <br>

<div>
    צרו כעת את האירוע שלכם ב save the date
</div>
<div>
    זאת הדרך שלכם לקבל את המתנות שאתם באמת צריכים, 
    למנוע כפילויות, לנהל את המוזמנים שלכם בצורה טובה ביותר וליצור את האירוע החלומי והמושלם. 

יצירת האירוע הינה חינם ומאפשרת את רוב הכלים לניהול ומעקב על האירוע שלכם:עמודSave The Date
  ,ניהול רשימות מוזמנים, מעקב אחר המתנות שפינקו אתכם ,
אישורי הגעה לאירוע, ניהול הסעות למוזמנים, שיבוץ מוזמנים בשולחנות.

</div>

<router-outlet></router-outlet>
