<p>registration works!</p>


<form [formGroup]="registrationForm">
    <mat-form-field appearance="fill" class="width-50">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter User Id"  formControlName="name" >      
    </mat-form-field> 

    <!-- <mat-form-field appearance="fill" formControlName="eventType">
      <mat-label>Event Type</mat-label>
      <mat-select>
        <mat-option value="חתונה">חתונה</mat-option>
        <mat-option value="בר מצווה">בר מצווה</mat-option>
        <mat-option value="ברית">ברית</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field appearance="fill" >
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Enter Event Name"  formControlName="phone" >
     
    </mat-form-field>   
    
    <mat-form-field appearance="fill" >
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Event Location"  formControlName="email" >
    </mat-form-field>  
    
    <mat-form-field appearance="fill" >
        <mat-label> Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  placeholder="Password"  formControlName="password" >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
      </mat-form-field>

   
    <br/> <br/> <button mat-raised-button  (click)="AddUser()" class="button" >Add User</button>

  </form>
  <app-create-event [passwordToPass]="passwordToPass" [userId]="userId" *ngIf="showEvent"></app-create-event>
  
  <!-- <app-more-details [password]="password"  [style.display]="this.myTravelAgencySer.isShowDetails ? 'block' : 'none'"></app-more-details> -->

  <router-outlet></router-outlet>

