/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-container .mat-form-field {
    width: 220px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  .button{
    background-color:rgb(3, 70, 90);
    color: lightgray;
  }
  button:hover{
    background-color: lightgray;
    color:rgb(3, 70, 90);
  }
