<p>login works!</p>
<form [formGroup]="eventForm">
    <mat-form-field appearance="fill" class="width-50">
      <mat-label>phone</mat-label>
      <input matInput placeholder="Enter phone"  formControlName="phone" >      
    </mat-form-field> 

    <mat-form-field appearance="fill" class="width-50">
        <mat-label>password</mat-label>
        <input matInput placeholder="Enter password"  formControlName="password" >      
      </mat-form-field> 

    <br/> <br/> <button mat-raised-button  (click)="CheckUser()" class="button">התחברות</button>
  </form>

<router-outlet></router-outlet>